/Lab1/Lab1/target/
/Lab2/Assighment1_ComplexNumber/target/
/Lab2/Assignent2_BankAccount/target/
/Lab2/Assignment3_ManageSalary/target/
/Lab3/Assignment1/target/
/Lab3/Assignment2/target/
/Lab4/Assignment1_Dictionary/target/
/Lab4/Assignment2_BankingSystem/target/
/Lab4/Assignment3_Polymorphism/target/
/Lab5/Assignment1/target/
/Lab5/Assignment2/target/
/lab6/MainFrame/target/
/lab6/Assignment2/target/
/lab 8/Singleton/target/
/lab 8/ObserverPattern/target/
/lab6/Assignment3lab6/target/
/Lab 7/CD_Store/target/
